* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --text-color: #1B2221;
    --blue-color: #008D96;
    --white-color: #fff;
    --font-size-text: 1.6rem;
    --orange-text-color: #F5AF15;
}

/*! Genaral */

.general{
   background:url(../images/Vector-bg.svg);
   width: 100%;
   height: 80.3rem;
   background-size: cover;
   background-repeat: no-repeat;
}
/*! Container */

.container {
    padding: 5rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
}

/*! Header */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*? Courses */

.courses {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.courses-text a {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*? Head */

.head-content {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 7rem;
}

/*? Desire */

.desire {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.desire .desire-text a {
    color: var(--blue-color);
    text-align: center;
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*? Buttons */

.buttons-line {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

/*** Button Transperent */

.buttons-line .background-transperent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    width: 12.8rem;
    height: 4.5rem;
    border-radius: 40px;
    border: 1px solid var(--blue-color);
}

.buttons-line .background-transperent span {
    color: var(--blue-color);
    text-align: center;
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buttons-line .background-full {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    width: 20.6rem;
    height: 4.5rem;
    border-radius: 40px;
    background: var(--blue-color);
}

.qeydiyyat path {
    fill: var(--white-color);
}

.buttons-line .background-full span {
    color: var(--white-color);
    text-align: center;
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*! Main */

main .main-container {
    display: flex;
    align-items: center;
    /* gap: 9.1rem; */
    justify-content: space-between;
}

/*? Left */

.main-left {
    display: flex;
    flex-direction: column;
    gap: 4.7rem;
    width: 50%;
}

.main-left h1 {
    color: var(--text-color);
    font-family: Lora;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
}

.main-left h1 span {
    color: var(--orange-text-color);
}

.main-left .crs-btn {
    width: 18rem;
    height: 5.5rem;
    border-radius: 70px;
    background: var(--blue-color);
    box-shadow: 0px 20px 40px 0px rgba(1, 94, 100, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-left .crs-btn span {
    color: var(--white-color);
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*? Right Image */
.main-right{
    width: 50%;
    position: relative;
}
.main-right .main-image img {
    width: 100%;
}

/* .main-right .main-image {
position: absolute;
    background: url(../images/Before-Image.png);
    z-index: 5;
    width: 100%;
} */

.main-right .main-image::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/Before-Image.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left: 23%;
    top: 6%;
}