* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --text-color: #1B2221;
    --blue-color: #008D96;
    --white-color: #fff;
    --font-size-text: 1.6rem;
    --orange-text-color: #F5AF15;
    --transition-button: all 0.24s ease-in;
    --transperent-button: transperent;
    --transition-text: all 0.126s ease-in;
    --color-blue-dark: #57a592;
    --empty-bg-color: #D9D9D9;
    --empty-text-color: #939393;
    --box-shadow: 2px 8px 20px 0px rgba(0, 0, 0, 0.18);
    --box-shadow-small: 3px 7px 30px 0px rgba(1, 94, 100, 0.15);
    --box-shadow-transition: 2px 8px 20px 0px rgba(0, 0, 0, 0.5);
    --box-shadow-small-transition: 3px 7px 30px 0px rgba(1, 94, 100, 0.5);
    --bg-knowledge-color: #E3F1F2;
    --pink-bg-color: #F57170;
    --big-bg-color: #FAFDFD;
    --input-placeholder-color: #C4C4C4;
    --footer-line-bg-color: #E5E5E5;
    --transition-input-bg-color: #f4d006;
}

/*! Genaral */

.general {
    background: url(../images/Vector-bg.svg);
    width: 100%;
    height: 80.3rem;
    background-size: cover;
    background-repeat: no-repeat;
}

/*! Container */

.container {
    padding: 5rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
}

/*! Header */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a img {
    width: 100%;
}

/*? Courses */

.courses {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.courses-text a {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: var(--transition-text);
}

.courses .courses-icon a svg path:hover,
.courses .courses-text a:hover {
    fill: var(--color-blue-dark);
    color: var(--color-blue-dark);
}

/*? Head */

.head-content {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 7rem;
}

/*? Desire */

.desire {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.desire .desire-text a {
    color: var(--blue-color);
    text-align: center;
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: var(--transition-text);
}

.desire .desire-icon a svg path:hover,
.desire .desire-text a:hover {
    color: var(--text-color);
    fill: var(--blue-color);
}

/*? Buttons */

.buttons-line {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

/*** Button Transperent */

.buttons-line .background-transperent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    max-width: 12.8rem;
    min-width: 9rem;
    height: 4.5rem;
    border-radius: 40px;
    border: 1px solid var(--blue-color);
    transition: var(--transition-button);
    padding: 1.2rem;
}

.buttons-line .background-transperent:hover {
    background-color: var(--blue-color);
}

.buttons-line .background-transperent:hover span,
.buttons-line .background-transperent:hover svg path {
    color: var(--white-color);
    fill: var(--white-color);
}

.buttons-line .background-transperent span {
    color: var(--blue-color);
    text-align: center;
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buttons-line .background-full {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    max-width: 20.6rem;
    padding: 1.2rem;
    min-width: 9rem;
    height: 4.5rem;
    border-radius: 40px;
    background: var(--blue-color);
    transition: var(--transition-button);
}

.buttons-line .background-full:hover {
    background-color: transparent;
    border: 1px solid var(--blue-color);
}

.buttons-line .background-full:hover span,
.buttons-line .background-full:hover svg path {
    color: var(--blue-color);
    fill: var(--blue-color);
}

.qeydiyyat path {
    fill: var(--white-color);
}

.buttons-line .background-full span {
    color: var(--white-color);
    text-align: center;
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.courses-active {
    display: none;
}

.courses-active.active {
    display: block;
    background-color: #ccc;
    border-radius: 10px;
    width: 20rem;
    height: 16rem;
    position: absolute;
    z-index: 100;
    left: 34.6%;
    top: 15%;
}

.courses-active.active .courses-active-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 18px;
}

.courses-active.active .courses-active-container a {
    color: var(--white-color);
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: var(--transition-text);
}

.courses-active.active .courses-active-container a:hover {
    color: var(--text-color);
}

/*! Main */

main .main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*? Left */

.main-left {
    display: flex;
    flex-direction: column;
    gap: 4.7rem;
    /* width: 50%; */
}

.main-left h1 {
    color: var(--text-color);
    font-family: Lora;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
}

.main-left h1 span {
    color: var(--orange-text-color);
}

.main-left .crs-btn {
    max-width: 18rem;
    min-width: 13.5rem;
    height: 5.5rem;
    border-radius: 70px;
    background: var(--blue-color);
    box-shadow: 0px 20px 40px 0px rgba(1, 94, 100, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-button);
}

.main-left .crs-btn span {
    color: var(--white-color);
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-left .crs-btn:hover {
    background: var(--transperent-button);
    border: 1px solid var(--blue-color);
}

.main-left .crs-btn:hover span,
.main-left .crs-btn:hover svg path {
    fill: var(--blue-color);
    color: var(--blue-color);
}

/*? Right Image */

.main-right {
    /* width: 50%; */
    position: relative;
}

.main-right .main-image img {
    width: 100%;
}

/* .main-right .main-image {
position: absolute;
    background: url(../images/Before-Image.png);
    z-index: 5;
    width: 100%;
} */

.main-right .main-image::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/Before-Image.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left: 23%;
    top: 6%;
}

/*! Container-Active */

.container-active {
    width: 100%;
    height: 80.3rem;
    background: url(<path-to-image>), lightgray 0px -20px / 100% 102.491% no-repeat;
    mix-blend-mode: multiply;
    position: relative;
    display: none;
    transition: all 0.36s ease-in;
}

.container-active-common {
    display: flex;
    flex-direction: column;
    gap: 9rem;
}

.container-active-icon .icon-mark .fa-xmark {
    position: absolute;
    left: 48.5rem;
    top: 4.4rem;
    font-size: 2.5rem;
    color: var(--text-color);
    transition: var(--transition-text);
}

.container-active-icon .icon-mark .fa-xmark:hover {
    color: var(--blue-color);
}

.container-active-center {
    display: flex;
    align-items: center;
    gap: 16rem;
    padding-left: 14.6rem;
}

.container-active-left {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.container-active-left a {
    font-family: Mulish;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-color);
    transition: var(--transition-text);
}

.container-active-left a:hover {
    color: var(--color-blue-dark);
}

.container-active-line {
    width: 1px;
    height: 28.8rem;
    background: var(--empty-bg-color);
}

.container-active-right {
    display: none;
}

.container-active-cent {
    display: none;
}

.container-active-end {
    display: none;
}

.container-active-right.front {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.container-active-cent.back {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.container-active-end.ui {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.container-active-right a {
    color: var(--empty-text-color);
    font-family: Mulish;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: var(--transition-text);
}

.container-active-right a:hover {
    color: var(--text-color);
}

.container-active-cent a {
    color: var(--empty-text-color);
    font-family: Mulish;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: var(--transition-text);
}

.container-active-cent a:hover {
    color: var(--text-color);
}

.container-active-end.ui a {
    color: var(--empty-text-color);
    font-family: Mulish;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: var(--transition-text);
}

.container-active-end.ui a:hover {
    color: var(--text-color);
}

/*! Populyar */

.populyar {
    padding: 9rem 15rem;
    background-color: var(--big-bg-color);
}

.populyar-container {
    display: flex;
    flex-direction: column;
    gap: 6.5rem;
}

/** Top */

.populyar-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.populyar-top-left h2 {
    color: var(--text-color);
    font-family: Lora;
    font-size: 4.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
}

.populyar-top-right-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.populyar-top-right-buttons .populyar-button {
    width: 13.6rem;
    height: 4.5rem;
    border-radius: 8px;
    border: 1px solid #008D96;
    background: transparent;
    cursor: pointer;
    transition: var(--transition-button);
}

.populyar-top-right-buttons .populyar-button a {
    color: var(--blue-color);
    text-align: center;
    font-family: Mulish;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: var(--transition-button);
}

.populyar-top-right-buttons .populyar-button:hover {
    background-color: var(--blue-color);
}

.populyar-top-right-buttons .populyar-button:hover a {
    color: var(--white-color);
}

/*? Center */

.populyar-center-container {
    display: none;
}

.populyar-center-front-container {
    display: none;
}

.populyar-center-back-container {
    display: none;
}

.populyar-center-uiux-container {
    display: none;
}

.populyar-center-uiux-container.ui {
    display: block;
    display: flex;
    gap: 2rem;
}

.populyar-center-back-container.back {
    display: block;
    display: flex;
    gap: 2rem;
}

.populyar-center-front-container.fro {
    display: block;
    display: flex;
    gap: 2rem;
}

.populyar-center-container.common {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.populyar-line-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
}

/*** Card */

.populyar-card {
    padding: 0.6rem;
    width: 27rem;
    height: 34.7rem;
    border-radius: 20px;
    background: #FFF;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3.2rem;
    cursor: pointer;
    transition: var(--transition-button);
}

.populyar-image img {
    width: 100%;
    padding: 0.6rem 1.2rem;
}

.populyar-card:hover {
    box-shadow: var(--box-shadow-transition);
}

.populyar-video-text {
    display: flex;
    align-items: center;
    gap: 6.7rem;
}

.populyar-video-left .populyar-btn {
    color: var(--text-color);
    text-align: center;
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0.6rem 1.1rem;
    border-radius: 8px;
    opacity: 0.2;
    background: #F5AF15;
}

.populyar-video-right {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.populyar-video-right .num {
    color: var(--empty-text-color);
    text-align: center;
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*? Line */

.populyar-line {
    /* width: 23.7rem; */
    width: 84%;
    height: 1px;
    background-color: var(--empty-bg-color);
}

.populyar-text-icon {
    display: flex;
    align-items: center;
    gap: 1.9rem;
}

.populyar-text-icon .populyar-paragraph {
    width: 16.9rem;
    height: 6rem;
}

.populyar-text-icon .populyar-paragraph p {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.populyar-text-icon .populyar-radius {
    width: 5rem;
    height: 5rem;
    background-color: var(--blue-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*? Bottom */

.populyar-bottom-container .populyar-button a {
    width: 23rem;
    height: 5.5rem;
    border-radius: 70px;
    background: var(--white-color);
    box-shadow: 0px 16px 40px 0px rgba(1, 94, 100, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 70px;
    border: 1px solid #008D96;
    transition: var(--transition-button);
}

.populyar-bottom-container .populyar-button a:hover {
    background-color: var(--blue-color);
}

.populyar-bottom-container .populyar-button a span {
    color: var(--blue-color);
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: var(--transition-button);
}

.populyar-bottom-container .populyar-button a svg path {
    transition: var(--transition-button);
}

.populyar-bottom-container .populyar-button a:hover span,
.populyar-bottom-container .populyar-button a:hover svg path {
    fill: var(--white-color);
    color: var(--white-color);
}

/*! Knowledge */

.knowledge {
    width: 100%;
    background-color: var(--bg-knowledge-color);
}

.knowledge-container {
    padding: 13.8rem 15rem;
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
}

.knowledge-top-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.knowledge-top-container h2 {
    max-width: 85.5rem;
    height: 6rem;
    color: var(--text-color);
    font-family: Lora;
    font-size: 4.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
}

.knowledge-top-container p {
    max-width: 73.4rem;
    height: 3.8rem;
    color: var(--text-color);
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.knowledge-center-container {
    display: flex;
    align-items: center;
    gap: 9.8rem;
}

.knowledge-left {
    display: flex;
    gap: 2.6rem;
}

.knowledge-share {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    flex-wrap: wrap;
}

.knowledge-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.9rem;
    border-radius: 30px;
    background: var(--white-color);
    box-shadow: var(--box-shadow-small);
    width: 29.6rem;
    height: 28rem;
    cursor: pointer;
    transition: var(--transition-button);
}

.knowledge-card:hover {
    box-shadow: var(--box-shadow-small-transition);
}

.knowledge-card .knowledge-icon {
    width: 6rem;
    height: 6rem;
    border-radius: 14px;
    background: var(--pink-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.knowledge-card .knowledge-head h3 {
    color: var(--text-color);
    text-align: center;
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.knowledge-card .knowledge-text {
    max-width: 26rem;
    height: 6.8rem;
}

.knowledge-card .knowledge-text p {
    color: var(--empty-text-color);
    text-align: center;
    font-family: Mulish;
    font-size: 1.32rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.knowledge-share.top {
    margin-top: 2.6rem;
    flex-wrap: wrap;
}

.knowledge-right .knowledge-image {
    position: relative;
    cursor: pointer;
}

.knowledge-right .knowledge-image .vector {
    position: absolute;
    top: 3%;
    left: 5%;
}

.knowledge-right .knowledge-image .shape {
    position: absolute;
    left: 10%;
    top: 12%;
}

.knowledge-right .knowledge-image .ellipse {
    position: absolute;
    right: 12%;
    top: 39%;
}

.knowledge-right .knowledge-image .ellipse-2 {
    position: absolute;
    left: -1%;
    top: 61%;
}

.knowledge-right .knowledge-image .group-img {
    width: 100%;
}

/*? Speed */

.speed {
    /* opacity: 0; */
    display: none;
}

/*! Footer */

footer {
    width: 100%;
    opacity: 0.6;
    background: url(<path-to-image>), lightgray 0px -398px / 100% 193.645% no-repeat;
    background-color: var(--blue-color);
}

.footer-container {
    padding: 0 15rem;
    padding-top: 7rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 11.5rem;
}

.footer-top-container {
    display: flex;
    justify-content: space-between;
}

.footer-section-1 {
    display: flex;
    flex-direction: column;
    gap: 2.815rem;
}

.footer-section-1 .logo img {
    width: 100%;
}

.footer-section-1 .lorem-text {
    max-width: 26rem;
    height: 6.8rem;
}

.footer-section-1 .lorem-text p {
    color: var(--white-color);
    font-family: Mulish;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.footer-section-2 .footer-ul-items {
    display: flex;
    gap: 8.2rem;
}

.footer-section-2 .footer-ul-items .footer-ul {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.footer-section-2 .footer-ul-items .footer-ul li {
    color: var(--white-color);
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-section-2 .footer-ul-items .footer-ul li a {
    color: var(--white-color);
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: var(--transition-text);
}

.footer-section-2 .footer-ul-items .footer-ul li a:hover {
    color: var(--text-color);
}

.footer-section-3 {
    display: flex;
    flex-direction: column;
    gap: 4.3rem;
}

.footer-section-3 .footer-text-p p {
    color: var(--white-color);
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-section-3 .footer-text-p p span {
    color: var(--white-color);
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-input {
    display: flex;
    max-width: 39rem;
    height: 6rem;
    border-radius: 60px;
    border: 1px solid rgba(0, 141, 150, 0.50);
    background: #FFF;
}

.footer-input input {
    width: 100%;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border: 1px solid rgba(0, 141, 150, 0.50);
    padding-left: 3rem;
    outline: none;
    background-color: transparent;
}

.footer-input input::placeholder {
    color: var(--input-placeholder-color);
    font-family: Mulish;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-input .input-btn {
    max-width: 10rem;
    min-width: 7rem;
    height: 6rem;
    border-radius: 60px;
    background: var(--orange-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-button);
}

.footer-input .input-btn:hover {
    background-color: var(--transition-input-bg-color);
}

.footer-bottom-container {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}

.footer-line-x {
    width: 100%;
    height: 1px;
    background-color: var(--footer-line-bg-color);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content .footer-history {
    color: var(--white-color);
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.footer-content .footer-jedai {
    color: var(--white-color);
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}


/*! Responsive */


@media(max-width: 1296px) {

    /*! Header */

    .container {
        padding: 5rem 12.6rem;
    }

    /*! Populyar */

    .populyar {
        padding: 9rem 12.6rem;
    }

    .populyar-line-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2rem;
    }

    /*! Knowledge */

    .knowledge-container {
        padding: 13.8rem 12.6rem;
    }

    /*! Footer */

    .footer-container {
        padding: 0 12.6rem;
        padding-top: 7rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 11.5rem;
    }

}

@media(max-width: 1235px) {

    /*! Knowledge */

    .knowledge-center-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 6.9rem;
    }

    .knowledge-left {
        display: flex;
        gap: 12rem;
    }

}

@media(max-width: 1155px) {

    html {
        font-size: 59.5%;
    }

    /*! Container */

    .container {
        padding: 5rem 11.4rem;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        gap: 10rem;
    }

    /*! Populyar */

    .populyar {
        padding: 9rem 11.4rem;
    }

    /*! Knowledge */

    .knowledge-container {
        padding: 13.8rem 11.4rem;
    }

    /*! Footer */

    .footer-container {
        padding: 0 11.4rem;
        padding-top: 7rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 9.6rem;
    }

}

@media(max-width: 1056px) {

    html {
        font-size: 57.6%;
    }

    .general {
        background: url(../images/Vector-bg.svg);
        width: 100%;
        height: 100.5rem;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /*! Container */

    .container {
        padding: 5rem 6rem;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        gap: 10rem;
    }

    /*? Main */

    main .main-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5.1rem;
        margin-right: 7rem;
    }

    .main-left {
        display: flex;
        flex-direction: column;
        gap: 4.7rem;
    }

    .main-right {
        margin-right: 6rem;
    }

    .main-left h1 {
        color: var(--text-color);
        font-family: Lora;
        font-size: 4.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
    }

    /*! Populyar */

    .populyar {
        padding: 9rem 6rem;
        /* margin-top: 20rem; */
    }

    .populyar-card {
        width: 30rem;
        height: 38.7rem;
    }

    .populyar-top-right-buttons .populyar-button a {
        font-size: 2.5rem;
    }

    .populyar-bottom-container .populyar-button a {
        width: 30rem;
        height: 7.5rem;
    }

    .populyar-bottom-container .populyar-button a span {
        font-size: 2.7rem;
    }

    /*! Knowledge */

    .knowledge-container {
        padding: 13.8rem 6rem;
    }

    /*! Footer */

    .footer-container {
        padding: 0 6rem;
        padding-top: 7rem;
        padding-bottom: 3rem;
    }

}

@media(max-width: 957px) {

    /*! Container */

    .container {
        padding: 5rem 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10rem;
    }

    /*? Main */

    .main-left h1 {
        color: var(--text-color);
        font-family: Lora;
        font-size: 4.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 54px;
    }

    /*! Populyar */

    .populyar {
        padding: 9rem 4.5rem;
    }

    .populyar-top-container {
        display: flex;
        flex-direction: column;
        gap: 2.1rem;
    }

    .populyar-top-left h2 {
        font-size: 5.1rem;
    }

    .populyar-top-right-buttons .populyar-button {
        width: 16.8rem;
        height: 5.5rem;
    }

    /*! Knowledge */

    .knowledge-container {
        padding: 13.8rem 4.5rem;
    }

    .knowledge-card {
        max-width: 39.6rem;
        min-width: 21rem;
        height: 36rem;
    }

    .knowledge-card .knowledge-icon {
        width: 9rem;
        height: 9rem;
        border-radius: 14px;
        background: var(--pink-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .knowledge-card .knowledge-head h3 {
        color: var(--text-color);
        text-align: center;
        font-family: Mulish;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .knowledge-card .knowledge-text p {
        color: var(--empty-text-color);
        text-align: center;
        font-family: Mulish;
        font-size: 1.83rem;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    /*! Footer */

    .footer-container {
        padding: 0 4.5rem;
        padding-top: 7rem;
        padding-bottom: 3rem;
    }

    .footer-top-container {
        display: flex;
        gap: 1rem;
    }

    .footer-section-2 .footer-ul-items {
        display: flex;
        gap: 5.2rem;
    }

}

@media(max-width: 912px) {

    html {
        font-size: 55.5%;
    }

    /*! Footer */

    .footer-container {
        padding: 0 3rem;
        padding-top: 7rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 11.5rem;
    }

    .footer-section-2 .footer-ul-items {
        display: flex;
        gap: 6.6rem;
    }

}

@media(max-width: 897px) {

    /*! Populyar */

    .populyar-line-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 5rem;
    }

    /*! Knowledge */

    .knowledge-card {
        height: 39rem;
    }

}

@media(max-width: 862px) {

    /*! Header */

    .desire {
        display: none;
    }

}

@media(max-width: 810px) {

    /*? Main */

    .main-left h1 {
        color: var(--text-color);
        font-family: Lora;
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 68px;
    }

    /*! Footer */

    .footer-section-2 .footer-ul-items {
        display: flex;
        gap: 6.6rem;
    }

    .footer-section-1 .lorem-text p {
        line-height: 21px;
    }

    .footer-section-2 .footer-ul-items .footer-ul li {
        font-size: 1.65rem;
    }

    .footer-section-2 .footer-ul-items .footer-ul li a {
        font-size: 1.65rem;
    }

    .footer-section-3 .footer-text-p p {
        font-size: 1.65rem;
    }

    .footer-section-3 .footer-text-p p span {
        font-size: 1.65rem;
    }

}

@media(max-width: 715px) {

    html {
        font-size: 50.5%;
    }

    /*! Knowledge */

    .knowledge-top-container h2 {
        margin-bottom: 5.1rem;
        line-height: 39px;
    }

    /*! Populyar */

    .populyar-card {
        width: 37rem;
        height: 42.6rem;
        border-radius: 20px;
        background: #FFF;
        box-shadow: var(--box-shadow);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-top: 3.2rem;
        cursor: pointer;
        transition: var(--transition-button);
    }

}

@media(max-width: 702px) {

    /*! Populyar */

    .populyar-card {
        width: 33.6rem;
        height: 42.6rem;
        border-radius: 20px;
        background: #FFF;
        box-shadow: var(--box-shadow);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-top: 3.2rem;
        cursor: pointer;
        transition: var(--transition-button);
    }

}

@media(max-width: 654px) {

    html {
        font-size: 46.5%;
    }

    /*! Knowledge */

    .knowledge-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4.4rem;
    }

    .knowledge-card {
        height: 45rem;
        width: 70rem;
    }

    .knowledge-left {
        display: flex;
        flex-direction: column;
        gap: 2.6rem;

    }

}

@media(max-width: 629px) {

    html {
        font-size: 43.5%;
    }

}

@media(max-width: 558px) {

    html {
        font-size: 40.5%;
    }

    /*! Main */

    main .main-container {
        display: flex;
        flex-direction: column;
    }

}

@media(max-width: 510px) {

    /*! Main */

    .main-left h1 {
        font-size: 5.5rem;
    }

    /*! Header */

    .buttons-line {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    /*! Container */

    .container {
        padding: 5rem 1.5rem;
    }

    /*! Populyar */

    .populyar {
        padding: 9rem 1.5rem;
        margin-top: 15.1rem;
    }

    /*! Knowledge */

    .knowledge-container {
        padding: 13.8rem 1.5rem;
    }

    /*! Footer */

    .footer-container {
        padding: 0 1.5rem;
        padding-top: 7rem;
        padding-bottom: 3rem;
    }

    .footer-top-container {
        display: flex;
        gap: 6rem;
    }

}

@media(max-width: 478px) {

    /*! Populyar */

    .populyar-center-container.common {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .populyar-line-container {
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
    }

    .populyar-card {
        width: 48rem;
        height: 48.7rem;
    }

    .populyar-top-right-buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .populyar-top-right-buttons .populyar-button {
        width: 11.7rem;
        height: 4.8rem;
    }

    /*! Active Header Big */

    .container-active-center {
        display: flex;
        align-items: start;
        gap: 3rem;
        padding-right: 34.6rem;
    }

    .container-active-icon .icon-mark .fa-xmark {
        position: absolute;
        left: 4.5rem;
        top: 4.4rem;
        font-size: 2.5rem;
        color: var(--text-color);
        transition: var(--transition-text);
    }

    /*! Footer */

    .footer-top-container {
        display: flex;
        flex-direction: column;
    }

    .footer-section-1 .lorem-text p {
        font-size: 3rem;
    }

    .footer-section-2 .footer-ul-items .footer-ul li {
        font-size: 2.4rem;
    }

    .footer-section-2 .footer-ul-items .footer-ul li a {
        font-size: 2.4rem;
    }

    .footer-section-3 .footer-text-p p {
        font-size: 2.7rem;
    }

    .footer-section-3 .footer-text-p p span {
        font-size: 2.7rem;
    }

}

@media(max-width: 343px) {

    .main-left h1 {
        color: var(--text-color);
        font-family: Lora;
        font-size: 3.9rem;
        font-style: normal;
        font-weight: 600;
        line-height: 68px;
    }

}

@media(max-width: 333px) {
    
    html {
        font-size: 37.5%;
    }

}