* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --text-color: #1B2221;
    --blue-color: #008D96;
    --white-color: #fff;
    --font-size-text: 1.6rem;
    --orange-text-color: #F5AF15;
    --transition-button: all 0.24s ease-in;
    --transperent-button: transperent;
    --transition-text: all 0.126s ease-in;
    --color-blue-dark: #57a592;
    --empty-bg-color: #D9D9D9;
    --empty-text-color: #939393;
}

/*! Genaral */

.general {
    background: url(../images/Vector-bg.svg);
    width: 100%;
    height: 80.3rem;
    background-size: cover;
    background-repeat: no-repeat;
}

/*! Container */

.container {
    padding: 5rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
}

/*! Header */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*? Courses */

.courses {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.courses-text a {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: var(--transition-text);
}

.courses .courses-icon a svg path:hover,
.courses .courses-text a:hover {
    fill: var(--color-blue-dark);
    color: var(--color-blue-dark);
}

/*? Head */

.head-content {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 7rem;
}

/*? Desire */

.desire {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.desire .desire-text a {
    color: var(--blue-color);
    text-align: center;
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: var(--transition-text);
}

.desire .desire-icon a svg path:hover,
.desire .desire-text a:hover {
    color: var(--text-color);
    fill: var(--blue-color);
}

/*? Buttons */

.buttons-line {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

/*** Button Transperent */

.buttons-line .background-transperent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    width: 12.8rem;
    height: 4.5rem;
    border-radius: 40px;
    border: 1px solid var(--blue-color);
    transition: var(--transition-button);
}

.buttons-line .background-transperent:hover {
    background-color: var(--blue-color);
}

.buttons-line .background-transperent:hover span,
.buttons-line .background-transperent:hover svg path {
    color: var(--white-color);
    fill: var(--white-color);
}

.buttons-line .background-transperent span {
    color: var(--blue-color);
    text-align: center;
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buttons-line .background-full {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    width: 20.6rem;
    height: 4.5rem;
    border-radius: 40px;
    background: var(--blue-color);
    transition: var(--transition-button);
}

.buttons-line .background-full:hover {
    background-color: transparent;
    border: 1px solid var(--blue-color);
}

.buttons-line .background-full:hover span,
.buttons-line .background-full:hover svg path {
    color: var(--blue-color);
    fill: var(--blue-color);
}

.qeydiyyat path {
    fill: var(--white-color);
}

.buttons-line .background-full span {
    color: var(--white-color);
    text-align: center;
    font-family: Mulish;
    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.courses-active {
    display: none;
}

.courses-active.active {
    display: block;
    background-color: #ccc;
    border-radius: 10px;
    width: 200px;
    height: 160px;
    position: absolute;
    z-index: 100;
    left: 34.6%;
    top: 15%;
}

.courses-active.active .courses-active-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 18px;
}

.courses-active.active .courses-active-container a {
    color: var(--white-color);
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: var(--transition-text);
}

.courses-active.active .courses-active-container a:hover {
    color: var(--text-color);
}

/*! Main */

main .main-container {
    display: flex;
    align-items: center;
    /* gap: 9.1rem; */
    justify-content: space-between;
}

/*? Left */

.main-left {
    display: flex;
    flex-direction: column;
    gap: 4.7rem;
    width: 50%;
}

.main-left h1 {
    color: var(--text-color);
    font-family: Lora;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
}

.main-left h1 span {
    color: var(--orange-text-color);
}

.main-left .crs-btn {
    width: 18rem;
    height: 5.5rem;
    border-radius: 70px;
    background: var(--blue-color);
    box-shadow: 0px 20px 40px 0px rgba(1, 94, 100, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-button);
}

.main-left .crs-btn span {
    color: var(--white-color);
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-left .crs-btn:hover {
    background: var(--transperent-button);
    border: 1px solid var(--blue-color);
}

.main-left .crs-btn:hover span,
.main-left .crs-btn:hover svg path {
    fill: var(--blue-color);
    color: var(--blue-color);
}

/*? Right Image */
.main-right {
    width: 50%;
    position: relative;
}

.main-right .main-image img {
    width: 100%;
}

/* .main-right .main-image {
position: absolute;
    background: url(../images/Before-Image.png);
    z-index: 5;
    width: 100%;
} */

.main-right .main-image::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/Before-Image.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left: 23%;
    top: 6%;
}

.container-active {
    width: 100%;
    height: 80.3rem;
    opacity: 0.3;
    background: url(<path-to-image>), lightgray 0px -20px / 100% 102.491% no-repeat;
    mix-blend-mode: multiply;
    position: relative;
    display: none;
    transition: all 0.36s ease-in;
}

.container-active-common {
    display: flex;
    flex-direction: column;
    gap: 9rem;
}

.container-active-icon .icon-mark .fa-xmark {
    position: absolute;
    left: 48.5rem;
    top: 4.4rem;
    font-size: 2.5rem;
    color: var(--text-color);
    transition: var(--transition-text);
}

.container-active-icon .icon-mark .fa-xmark:hover {
    color: var(--blue-color);
}

.container-active-center {
    display: flex;
    align-items: center;
    gap: 16rem;
    padding-left: 14.6rem;
}

.container-active-left {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.container-active-left a {
    font-family: Mulish;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-color);
    transition: var(--transition-text);
}

.container-active-left a:hover {
    color: var(--color-blue-dark);
}

.container-active-line {
    width: 1px;
    height: 28.8rem;
    background: var(--empty-bg-color);
}

.container-active-right {
    display: none;
}

.container-active-cent {
    display: none;
}

.container-active-end {
    display: none;
}

.container-active-right.front {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.container-active-cent.back {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.container-active-end.ui {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.container-active-right a {
    color: var(--empty-text-color);
    font-family: Mulish;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: var(--transition-text);
}

.container-active-right a:hover {
    color: var(--text-color);
}

.container-active-cent a {
    color: var(--empty-text-color);
    font-family: Mulish;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: var(--transition-text);
}

.container-active-cent a:hover {
    color: var(--text-color);
}

.container-active-end.ui a {
    color: var(--empty-text-color);
    font-family: Mulish;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: var(--transition-text);
}

.container-active-end.ui a:hover {
    color: var(--text-color);
}

/*! Populyar */

.populyar {
    padding: 5rem 15rem;
}